/* 
============
Meme
============
*/

.meme-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  margin-top: 4rem;
}

.meme-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.meme-inputs {
  display: flex;
  flex-direction: column;
}

.meme-inputs input {
  width: 100%;
  height: Hug (34.74px) px;
  top: 20.27px;
  padding: 7.37px 10.64px 7.37px 10.64px;
  gap: 6.55px;
  border-radius: 4.91px;
  border: 0.82px solid #d1d5db;
  box-shadow: 0px 0.82px 1.64px 0px #0000000d;
}
