/* 
============
navbar
============
*/

.nav{
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    color: white;
}

.nav-items h3{
    font-weight: 500;
}

.nav-logo{
    display: flex;
    align-items: center;
}

.nav-logo img{
    width: 15%;
    margin-right:  0.5rem;
}

.nav-logo h1{
    letter-spacing: -0.05em;
}

/* 
============
Meme
============
*/

.meme-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    margin-top: 4rem;
}

.meme-container{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.meme-inputs{
    display: flex;
    flex-direction: column;
}