.nav{
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    color: white;
}

.nav-items h3{
    font-weight: 500;
}

.nav-logo{
    display: flex;
    align-items: center;
}

.nav-logo img{
    width: 15%;
    margin-right:  0.5rem;
}